<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Kackstarter</title>
</head>
<body>
	
<h1>{{ projets | length}} Projects</h1>

<ul>
	{% for e in projets %}
	<li>{{ e }}</li>
	{% endfor %}
</ul>
	
</body>
</html>
