<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Kackstarter</title>
</head>
<body>
	
<h1>{{ projects | length}} Projects</h1>

<ul>
	{% for e in projects %}
	<li>
		<strong>{{ e.name }} </strong>for <em>{{ e.description }}</em>: {{ e.TargetAmount | localizedcurrency('USD') }}
	</li>
	{% endfor %}
</ul>
	
</body>
</html>
